body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    background-color: rgb(249, 252, 251);
    font-size: large;
}

h1, h2, h3, h5 {
    font-family: fantasy, cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
     
}

.site-footer {
    background-image: linear-gradient(to left,#e2b930, #000000);
    padding: 20px 0; 
    border-style: solid;
}

.jumbotron {
    margin: 0; 
    padding: 30px;
    background-image: linear-gradient(to right,#e2b930, #000000);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
} 

.onmissionfirstpadding {
    padding: 50px 0px 0px ;
}

.ourmissionPpadding {
    padding: 0px 0px 150px; 
    min-height:200px;
} 

.aboutuspadding {
    padding: 1em;
} 

.lastcppadding {
    padding: 0px 0px 100px;
} 


.navbar  {
    background-color: #aa97ee;

} 

.card-header {
    background-color: #42880081; 
    border: black 5px solid; 
    border-spacing: 8pt; 
    
}  

.btn-primary {
    background-color: #aa97ee;
    border-style: initial;
    border: 5px solid

}

.tab-content {
    border: 3px solid #3046C5; 
    border-top: none; 
    padding: 10px;
} 

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: 35px solid #5637dd; 
    border-style: ridge;  
}

.img-thumbnail {
    border: 23px solid #f8f8fa; 
    border-style: double;
}

.site-footer {
    color: rgb(253, 253, 253);
}