body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    background-color: rgb(249, 252, 251);
    font-size: large;
}

h2, h3, h5 {
    font-family: fantasy, cursive;
}

h1 {
    font-family: fantasy, cursive;
    font-size: 40px;
    
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
     
}


.navbar {
    font-family:cursive;
    font-weight: 1000;  
    
}

.site-footer {
    background-image: linear-gradient(to left,#e2b930, #000000);
    padding: 20px 0; 
    border-style: solid;
}

.jumbotron {
    margin: 0; 
    padding: 30px;
    background-image: linear-gradient(to right,#e2b930, #000000);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
} 

.onmissionfirstpadding {
    padding: 50px 0px 0px ;
}

.ourmissionPpadding {
    padding: 0px 0px 150px; 
    min-height:200px;
} 

.aboutuspadding {
    padding: 1em;
} 

.lastcppadding {
    padding: 0px 0px 100px;
} 


.navbar  {
    background-color: #aa97ee;

} 

.card-header {
    background-color: #42880081; 
    border: black 5px solid; 
    border-spacing: 8pt; 
    
}  

.wwubb {
    background-color: #aa97ee; 
    height: 155px;
}

.btn-ourEvents {
    font-size: 70px;
    border: black 5px solid;
    color: #e2b930;
}

.btn-getInvolved {
    font-size: 60px;
    border: black 5px solid; 
    color: #aa97ee;
}

.btn-primary {
    background-color: #aa97ee;
    border-style: initial;
    border: 5px solid;
    font-size: 25px;

}

.btn-secondary {
    background-color: #e2b930;
    border-style: initial;
    border: 5px solid;
    font-size: 25px;
}

.tab-content {
    border: 3px solid #3046C5; 
    border-top: none; 
    padding: 10px;
} 

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: 35px solid #5637dd; 
    border-style: ridge;  
}

.img-thumbnail1 {
    border: #f8f8fa;  
    border-image-width: 200px; 

    
}

.site-footer {
    color: rgb(253, 253, 253);
}

.modal-header {
    background-color: #aa97ee;
}

.reserveModal {
    background-image: url("logo.png");
}

.modal-title {
    color: #faf8f8;
}

.helpus {
    font-family:'Times New Roman', Times, serif; 
    font-size: 30px; 
    font-weight: 1000;  
    color: #e2b930;
}

.explainus {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 27px; 
    font-weight: 1000px; 
    color:#080808;
    background-color: #aa97ee;  
    
} 

.staffp {
    border: 35px solid #5637dd;
    border-style: ridge; 

}  

.wordsstaff {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: 1000px;
}

.footerlinks {
    color: #aa97ee;
}